<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453751060369-r5uor4jskn7mtpf485kdv1qli425r4bo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453751060369-r5uor4jskn7mtpf485kdv1qli425r4bo</string>
	<key>API_KEY</key>
	<string>AIzaSyBJpNoA-fdGF0pPwC6mLJYvkgbjgWLf_WU</string>
	<key>GCM_SENDER_ID</key>
	<string>453751060369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nunutApplication</string>
	<key>PROJECT_ID</key>
	<string>nunut-da274</string>
	<key>STORAGE_BUCKET</key>
	<string>nunut-da274.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453751060369:ios:54cd2d49ccf55d411b4c30</string>
</dict>
</plist>